snippet t "tag"
<${1:div}>
</$1>
endsnippet

snippet tl "one line tag"
<${1:img} />
endsnippet

snippet html5 "HTML5 bolierplate"
<!DOCTYPE html>
<html>
	<head>
		$1
	</head>
	<body>
		$2
	</body>
</html>
endsnippet
